.section-description
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.card
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--section-overlay);
    padding: 1rem;
    border-radius: 10px;
}

.description-card-icon
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 12px;
}

.description-card-icon small
{
    text-transform: capitalize;
}

@media screen and (max-width:1024px) {
    .section-description
    {
        grid-template-columns: 1fr 1fr;
    }
}